@import 'tailwindcss';
@plugin "daisyui" {
  themes: mytheme --default;
}

@theme mytheme {
  --color-primary: #001f3f; /* Deep Teal */
  --color-secondary: #fdf6e3; /* Ivory Cream */
  --color-accent: #d4af37; /* Gold Accent */
}

html,
body {
  overflow-x: hidden;
}
