@import 'tailwindcss';
@plugin "daisyui" {
  themes: mytheme --default;
}

@theme mytheme {
  --color-primary: #014d4e; /* Deep Teal */
  --color-secondary: #fdf6e3; /* Ivory Cream */
  --color-accent: #d4af37; /* Gold Accent */
}
